<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myz.rocketmq.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.myz.rocketmq.bean.Order">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="goodsId" column="goods_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,goods_id,
        create_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from order
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from order
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.myz.rocketmq.bean.Order" useGeneratedKeys="true">
        insert into `order`
        ( `id`,`user_id`,`goods_id`
        ,`create_time`)
        values (#{id,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{goodsId,jdbcType=INTEGER}
        ,#{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.myz.rocketmq.bean.Order" useGeneratedKeys="true">
        insert into order
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="userId != null">user_id,</if>
                <if test="goodsId != null">goods_id,</if>
                <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="userId != null">#{userId,jdbcType=INTEGER},</if>
                <if test="goodsId != null">#{goodsId,jdbcType=INTEGER},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.myz.rocketmq.bean.Order">
        update order
        <set>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=INTEGER},
                </if>
                <if test="goodsId != null">
                    goods_id = #{goodsId,jdbcType=INTEGER},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.myz.rocketmq.bean.Order">
        update order
        set 
            user_id =  #{userId,jdbcType=INTEGER},
            goods_id =  #{goodsId,jdbcType=INTEGER},
            create_time =  #{createTime,jdbcType=TIMESTAMP}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
